---
import Card from './Card/Card.astro'
import LinkIcon from 'astro-heroicons/solid/Link.astro'
import CardDescription from './Card/CardDescription.astro'
import CardLink from './Card/CardLink.astro'
import Image from './Image.astro'
import type { ProjectContentItem } from '../content/config'
import { hrefTo } from '../data/navigation'
import Markdown from './Markdown.astro'
import CardEyebrow from './Card/CardEyebrow.astro'

interface Props {
  project: ProjectContentItem
}

const { project } = Astro.props

const image = project.data.header?.teaser ?? undefined
const description = project.data.description ?? project.data.excerpt
const accolades = project.data.accolades
---

<Card as="li">
  {
    image && (
      <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
        <Image src={image} alt="" class="h-8 w-8" unoptimized />
      </div>
    )
  }
  <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
    <CardLink href={hrefTo(project)}>{project.data.title}</CardLink>
  </h2>
  {accolades?.map((accolade) => <CardEyebrow decorate>{accolade}</CardEyebrow>)}
  {
    description && (
      <CardDescription>
        <Markdown markdown={description} />
      </CardDescription>
    )
  }
  <p
    class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-teal-500 dark:text-zinc-200"
  >
    <LinkIcon class="h-6 w-6 flex-none" />
    <span class="ml-2">{project.data.cta}</span>
  </p>
</Card>
